@font-face {
    font-family: 'Space Grotesk';
    src: url('fonts/space-grotesk/SpaceGrotesk-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('fonts/space-grotesk/SpaceGrotesk-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('fonts/space-grotesk/SpaceGrotesk-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('fonts/space-grotesk/SpaceGrotesk-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('fonts/space-grotesk/SpaceGrotesk-Light.ttf') format('truetype');
    font-weight: 300;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

*:focus,
*:active {
  outline: none;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
  background-color: #f4f4f4;
}

input, select, button, textarea {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1rem;
  border: none;
  outline: none;
  padding: 0;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}